<!DOCTYPE html>
<html>
    <head>
        <title>VUEJS Testing : mytodoapp </title>
    </head>
    <body>

      <div id="app-todo">
          <h1>MICRO-TO-DO-APP</h1>
          <form v-on:submit.prevent>
            <input v-model="inputTask" id="inputTaskId" placeholder="Type your next todo thing">
            <button type="submit" v-on:click="submitInputTask" v-on:keyup.13="submitInputTask">Submit</button>
            <button v-on:click="submitRAZ">RAZ</button>
          </form>
          <hr/>
          <ol>
              <li v-for="(todo, index) in todos">
                  {{ todo.title }}
                  <a href="#" v-on:click="setTaskDone(index)">DONE</a>
                  <strong v-if="todo.completed">DONE</strong>
              </li>
          </ol>
      </div>


      <script type="text/javascript" src="https://unpkg.com/vue"></script>
      <script type="text/javascript" src="mytodoapp.js"></script>
    </body>
</html>
